<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div id="app" class="container">
    我的名字：<input type="text" v-model="whoAmI.name">
    <br><!-- 請用 input type="text" + v-model-->
    我的性別：
    <select name="" id="" v-model="whoAmI.gender">
       <option disabled value="">請選擇</option>
      <option :value="item" v-for="(item, key) in genders" :key="key">{{ item }}        </option>
      
    </select>
  
    <br><!-- 請用 select + v-model，搭配 genders 資料集 -->
    
    我的技能列表：
    <div  v-for="(item, key) in skills" :key="key">
    <input type="checkbox"  v-model="whoAmI.skills" :value="item">
      <label >{{item}}</label>
    </div>
  
    <!-- 請用 checkbox + v-model，搭配 skills 資料集 -->
    <hr>
    {{ whoAmI }}
  </div>
    
    <!-- 請用 checkbox + v-model，搭配 skills 資料集 -->
    <hr>
    {{ whoAmI }}
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
new Vue({
  el: '#app',
  data: {
   whoAmI: {
     name: '',
     gender: '',
     skills: []
   },
   genders: ['男', '女', '不限制'],
   skills: ['ES6', '水之呼吸', '伸縮自如的', '認真系列']
  }
})
</script>  
</body>
</html>